<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:right;border-radius:5px 5px;">
    <i>Aprender una técnica no es un fin en si mismo, simplemente indica por donde hay que empezar</i><br><b>Proverbio Japonés</b></p>

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:right;border-radius:5px 5px;">
<i>Material curado y organizado por el Prof. Dr. Hernán D. Merlino</i><br> 
<i>Acceso Base de Datos Versión 1.0 - 2024 Q1</i></p>

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>

<a id = "1.0"></a>
<p style="font-size:25px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>SQL Alchemy</strong></p>

<p style="font-size:12px;color:#34656d;font-family:'Comic Sans MS';text-align:right;border-radius:5px 5px;">
<strong><u>Ejemplo adaptado para el curso de:</u></strong><br> 
<a href="https://www.datacamp.com/tutorial/sqlalchemy-tutorial-examples
" target=\"_blank\">SQLAlchemy Tutorial With Examples</a>
</p>

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import sqlalchemy as db

In [3]:
db.__version__

'1.4.39'

<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong><u>Base de Datos:</u></strong><br> 
<a href="https://www.kaggle.com/code/alaasedeeq/european-soccer-database-with-sqlite3" 
   target=\"_blank\">European Soccer Database with sqlite3</a>
</p>

In [4]:
engine = db.create_engine("sqlite:///db/european_database.sqlite")

In [5]:
conn = engine.connect()

In [6]:
metadata = db.MetaData()

In [7]:
division= db.Table('divisions', metadata, autoload=True,autoload_with=engine)

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Estructura de Tabla</strong></p>

In [8]:
print(repr(metadata.tables['divisions']))

Table('divisions', MetaData(), Column('division', TEXT(), table=<divisions>), Column('name', TEXT(), table=<divisions>), Column('country', TEXT(), table=<divisions>), schema=None)

In [9]:
db.Table('divisions', db.MetaData(), 
         db.Column('division', db.TEXT()), 
         db.Column('name', db.TEXT()), 
         db.Column('country', db.TEXT()), 
         schema=None)

Table('divisions', MetaData(), Column('division', TEXT(), table=<divisions>), Column('name', TEXT(), table=<divisions>), Column('country', TEXT(), table=<divisions>), schema=None)

In [10]:
print(division.columns.keys())

['division', 'name', 'country']

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Generar Consulta</strong></p>

In [11]:
query = division.select()
print(query)

SELECT divisions.division, divisions.name, divisions.country
FROM divisions

In [12]:
exe = conn.execute(query)

In [13]:
result = exe.fetchmany(5)

In [14]:
print(result)

[('B1', 'Division 1A', 'Belgium'), ('D1', 'Bundesliga', 'Deutschland'), ('D2', '2. Bundesliga', 'Deutschland'), ('E0', 'Premier League', 'England'), ('E1', 'EFL Championship', 'England')]

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>

In [15]:
engine = db.create_engine('sqlite:///db/datacamp.sqlite')

In [16]:
conn = engine.connect()

In [17]:
metadata = db.MetaData()

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Crear Tabla</strong></p>

In [18]:
Student = db.Table('Student'   , metadata,
              db.Column('Id'   , db.Integer(),primary_key=True),
              db.Column('Name' , db.String(255), nullable=False),
              db.Column('Major', db.String(255), default="Math"),
              db.Column('Pass' , db.Boolean(), default=True)
              )

In [19]:
metadata.create_all(engine)

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Inserta un registro</strong></p>

In [20]:
query = db.insert(Student).values(Id=1, Name='Matthew', Major="English", Pass=True)

<a id = "1.0"></a>
<p style="font-size:13px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>si la base ya tiene el id 1 dara un error</strong></p>

In [21]:
Result = conn.execute(query)

In [22]:
output = conn.execute(Student.select()).fetchall()
print(output)

[(1, 'Matthew', 'English', True)]

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>Inserta varios registros</strong></p>

In [23]:
query = db.insert(Student)
values_list = [{'Id':'2', 'Name':'Nisha', 'Major':"Science", 'Pass':False},
              {'Id':'3', 'Name':'Natasha', 'Major':"Math", 'Pass':True},
              {'Id':'4', 'Name':'Ben', 'Major':"English", 'Pass':False}]
Result = conn.execute(query,values_list)

In [24]:
output = conn.execute(db.select([Student])).fetchall()
print(output)

[(1, 'Matthew', 'English', True), (2, 'Nisha', 'Science', False), (3, 'Natasha', 'Math', True), (4, 'Ben', 'English', False)]

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>SQL</strong></p>

In [25]:
output = conn.execute("SELECT * FROM Student")
print(output.fetchall())

[(1, 'Matthew', 'English', 1), (2, 'Nisha', 'Science', 0), (3, 'Natasha', 'Math', 1), (4, 'Ben', 'English', 0)]

In [26]:
output = conn.execute("SELECT Name, Major FROM Student WHERE Pass = True")
print(output.fetchall())

[('Matthew', 'English'), ('Natasha', 'Math')]

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:left;border-radius:5px 5px;">
<strong>API</strong></p>

In [27]:
query = Student.select().where(Student.columns.Major == 'English')
output = conn.execute(query)
print(output.fetchall())

[(1, 'Matthew', 'English', True), (4, 'Ben', 'English', False)]

In [28]:
query = Student.select().where(db.and_(Student.columns.Major == 'English', Student.columns.Pass != True))
output = conn.execute(query)
print(output.fetchall())

[(4, 'Ben', 'English', False)]

In [29]:
query = Student.select().where(Student.columns.Major.in_(['English','Math']))
output = conn.execute(query)
results = output.fetchall()

In [30]:
import pandas as pd

In [31]:
data = pd.DataFrame(results)
data.columns = results[0].keys()

In [32]:
data.head()

   Id     Name    Major   Pass
0   1  Matthew  English   True
1   3  Natasha     Math   True
2   4      Ben  English  False

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>

<a id = "1.0"></a>
<p style="font-size:15px;color:#34656d;font-family:'Comic Sans MS';text-align:center;border-radius:5px 5px;">
<strong>_____________________________________________________________</strong></p>